.hero-img {
  border-radius: 2em;
  padding: 1em;
  width: 25vw;
}

.text-center {
  text-align: center;
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.box {
  background: white;
  color: black;
  padding: 1em;
  border-radius: .5em;
}

.parallax {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.wrapper h3, h5 {
  padding: 0em 1em;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}

.footer {
  border-top: 1px solid gray;
  background: white;
  width: 100%;
  text-align: center;
  padding: 1em 0em;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  flex-grow: 1;
  text-align: left;
}

.page .container {
  flex-grow: 1;
}

.page {
  background: rgba(255, 255, 255, 0.5);
}

.btn, .btn:hover {
  background-image: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
  padding: 1.1em 3em;
  border-bottom: .3em solid #0266ae;
  border-radius: 3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

@media (min-width: 769px) {
  .page .container {
    flex-grow: 1;
  }
  .page {
    background: transparent;
  }
  .box {
    background: transparent;
    color: white;
  }
  .hero-img {
    border-radius: 1em;
    padding: .5em;
    width: 50vw;
  }
  .mohub-logo {
    margin-top: 50px;
  }
  .copyright {
    margin-top: 8px;
    margin-left: 5px;
  }
  .copyright-logo {
    margin-right: 5px;
  }
  .btn, .btn:hover {
    background-image: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
    padding: 1.1em 8em;
    border-bottom: .3em solid #0266ae;
    border-radius: 3em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: white;
  }
}
