@import "./variables";
@import "./mixins";
@import "./fonts";
/* Landing page styles */

html * {
    transition-property: all !important;
    transition-duration: .35s !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Muli", "Helvetica Neue", Arial, sans-serif;
}

.fa:before {
    vertical-align: sub;
}

.copyright>span {
    color: red;
    font-weight: bold;
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    margin: 30px 0 15px;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4 {
    font-size: 22px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Hero Image */

.parallax {
    height: 100vh;
    width: 100%;
}

.hero-thumb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

h1 span {
    display: inline;
}

.header-logo {
    padding-top: 5vh;
    text-align: center;
}

.description {
    padding-top: 0px;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 34px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

h3 {
    max-width: 500px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

h5 {
    max-width: 300px;
    font-size: 26px;
    margin: auto;
    text-align: center;
}

.btn-section {
    margin-top: 20px;
    max-width: 150px;
    border: 2px solid white !important;
}

iframe {
    width: 100% !important;
    max-width: 500px !important;
    height: auto !important;
    min-height: 300px !important;
    border: 0px !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-facebook {
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    display: block;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: #4167ad;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    &:hover {
        color: white;
    }
}

.scroll-anchor {
    position: absolute;
    padding-top: 75vh;
    width: 100%;
    display: block;
    cursor: pointer;
    span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 30px;
        height: 30px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }
    span:nth-of-type(1) {
        bottom: 10px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    span:nth-of-type(2) {
        bottom: 0px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    span:nth-of-type(3) {
        bottom: -10px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }
    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.section-motivation {
    .description p {
        color: #777;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
    }
    .btn-section {
        width: 47%;
        font-weight: 500;
    }
}

.description {
    text-align: center;
    margin: auto;
    color: white;
    padding: 20px;
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}

.container {
    z-index: 1001;
}

.landing-page1 .container {
    max-width: 90vw;
}

.landing-page2 .container {
    max-width: 1170px;
}

.header-text {
    text-transform: uppercase;
    font-weight: 200;
    color: transparentize($color: $section-header-color, $amount: .4);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
    position: relative;
    line-height: 24px;
    text-align: center;
    &::after {
        content: "";
        display: block;
        border-bottom: 4px solid transparentize($color: $section-header-color, $amount: .4);
        width: 40px;
        margin: auto;
        margin-top: 10px;
    }
}

.logos {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    ul {
        display: block;
        width: 100%;
        margin: 0px auto;
        padding-top: 48px;
    }
    li {
        display: inline-block;
        margin: 0 17px;
    }
}

.section-demo {
    margin-top: 50px;
    a {
        margin-top: 20px;
    }
    .demo-image {
        position: relative;
        width: 100%;
        display: block;
        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    .row:first-child {
        margin-bottom: 100px;
    }
    .carousel-inner {
        border-radius: 10px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
    }
}

.container {
    position: relative;
}

.carousel.fade {
    opacity: 1;
    .item {
        transition: opacity ease-in-out .7s;
        left: 0 !important;
        opacity: 0;
        top: 0;
        position: absolute;
        width: 100%;
        display: block !important;
        z-index: 1;
        &:first-child {
            top: auto;
            position: relative;
        }
        &.active {
            opacity: 1;
            transition: opacity ease-in-out .7s;
            z-index: 2;
        }
    }
}

@media (max-width: 768px) {
    .hero-image {
        img.hero-thumb {
            width: 150px;
            height: 150px;
        }
        h1 {
            font-size: 28px;
        }
    }
    .header-text {
        margin-top: 70px;
    }
    .fixed-plugin {
        top: 80px;
        right: 0px;
    }
    .main .container {
        margin-bottom: 50px;
    }
    #video_background {
        display: none;
    }
}

img {
    &[google-play] {
        margin-top: -2px;
        max-width: 140px;
    }
    &[app-store] {
        margin-top: 8px;
        max-width: 120px;
    }
}

[google-play-href] .lbl-comming-soon,
[app-store-href] .lbl-comming-soon {
    display: block;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    text-align: center;
    width: 100%;
}

[google-play-href] .lbl-comming-soon {
    margin-top: -9px;
}

a {
    color: $secondary;
    &:hover {
        color: #ff1e3c;
        text-decoration: none;
    }
    &:focus {
        color: #ff1e3c;
        text-decoration: none;
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}

.btn {
    &:disabled,
    &[disabled],
    &.disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 9px 18px;
    &.btn-icon {
        padding: 9px;
    }
}

.btn-simple {
    border: 0;
    font-size: 16px;
    padding: 8px 16px;
    &.btn-icon {
        padding: 8px;
    }
}

.btn-lg {
    font-size: 18px;
    border-radius: 6px;
    padding: 14px 30px;
    font-weight: 400;
    &.btn-round {
        padding: 15px 30px;
    }
    &.btn-simple {
        padding: 16px 30px;
    }
}

.btn-sm {
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 10px;
    &.btn-round {
        padding: 6px 10px;
    }
    &.btn-simple {
        padding: 7px 10px;
    }
}

.btn-xs {
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 5px;
    &.btn-round {
        padding: 2px 5px;
    }
    &.btn-simple {
        padding: 3px 5px;
    }
}

.btn-wd {
    min-width: 140px;
}

.btn-group.select {
    width: 100%;
    .btn {
        text-align: left;
    }
    .caret {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        right: 8px;
    }
}

.btn-social {
    opacity: 0.85;
    padding: 8px 9px;
    .fa {
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
    }
    &.btn-simple {
        padding: 9px 5px;
        font-size: 16px;
        .fa {
            font-size: 20px;
            position: relative;
            top: -2px;
            width: 24px;
        }
    }
}

.btn-section {
    width: 100%;
}

.btn {
    margin: 10px 15px 0;
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
    }
}

.footer {
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 20px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    z-index: 999;
    nav>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
        a:not(.btn) {
            color: white;
            display: block;
            margin-bottom: 3px;
            &:hover,
            &:focus {
                color: white;
            }
        }
    }
    .social-area {
        padding: 15px 0;
        h5 {
            padding-bottom: 15px;
        }
        >a:not(.btn) {
            color: white;
            display: inline-block;
            vertical-align: top;
            padding: 10px 5px;
            font-size: 20px;
            font-weight: normal;
            line-height: 20px;
            text-align: center;
            &:hover,
            &:focus {
                color: white;
            }
        }
    }
    .copyright {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px;
        margin: 15px 75px;
        line-height: 20px;
        text-align: center;
    }
    hr {
        border-color: #dddddd;
    }
    .title {
        color: #777777;
    }
    &:not(.footer-big) nav>ul {
        font-size: 16px;
        li {
            margin-left: 20px;
            float: left;
        }
        a {
            padding: 10px 0px;
            margin: 15px 10px 15px 0px;
        }
    }
}

.btn-subscribe {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        color: white;
        border-color: white;
    }
    &.loading {
        cursor: progress;
        opacity: 0.3;
    }
    &.done {
        border: 0px;
        border-radius: 5px;
        pointer-events: none;
        text-transform: none;
        font-weight: normal;
        @include linearGradient($balanced, adjust-hue($balanced, 50));
    }
}

.footer-default {
    background-color: whitesmoke;
}

.footer-dropdown {
    top: -120px !important;
    &:before,
    &:after {
        top: 300px !important;
    }
}

.landing-page {
    .navbar-top {
        border-bottom: #ea0046;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .parallax {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: block;
        background-size: 100%;
        .container {
            z-index: 2;
            position: absolute;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
    }
}

.filter-gradient {
    position: relative;
    &:after {
        background-size: 2000px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        content: "";
        opacity: .95;
    }
    &.blue:after {
        @include linearGradient(adjust-hue($gradient-color, 30), $gradient-color);
    }
    &.green:after {
        @include linearGradient(adjust-hue($balanced, 30), $balanced);
    }
    &.purple:after {
        @include linearGradient(adjust-hue(#512da8, 10), adjust-hue(#512da8, 50));
    }
}

.fa {
    width: auto;
}

.subscribe .subscribe-input {
    width: 100%;
    text-align: center;
    max-width: 500px;
    color: #888;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.subscribe .subscribe-textarea {
    width: calc(100vw - 50px);
    min-height: 150px;
    text-align: left;
    padding: 5px;
    max-width: 500px;
    color: #888;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
}

.parallax {
    .parallax-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
        &.banner-parallax {
            position: absolute;
            background-image: url("../../assets/img/backgrounds/bg-01.jpg");
        }
        &.banner-parallax-02 {
            position: absolute;
            background-image: url("../../assets/img/backgrounds/bg-02.jpg");
        }
    }
    .parallax-image {
        width: 100%;
        position: relative;
        height: 100%;
        &.second-image {
            position: absolute;
            right: -200px;
            top: 0;
        }
    }
    .parallax-background {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: auto;
            position: relative;
        }
    }
    .parallax-image {
        width: 100%;
        margin: 0 auto;
        margin-top: 145px;
        float: right;
        text-align: center;
        img {
            height: auto;
            width: 100%;
            &.phone {
                width: 80%;
                float: right;
            }
        }
    }
}

.section-no-padding .parallax {
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    text-align: center;
    .info {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        top: 16px;
        a {
            position: relative;
            z-index: 10;
        }
        p {
            font-weight: 500;
        }
        .btn-lg {
            margin-top: 75px;
            padding: 14px 80px;
        }
    }
}

.section {
    padding: 30px 0;
    position: relative;
    background-color: #FFFFFF;
}

.section-gray {
    background-color: #EEEEEE;
}

.section-white {
    background-color: #FFFFFF;
}

.section-features {
    background-size: cover;
    background-color: transparent;
    overflow: visible;
    &.section-colorful {
        background: $primary;
        @include linearGradient(adjust-hue($primary,
        20),
        $primary);
    }
    .card {
        background-color: white;
        width: 100%;
        min-height: 390px;
        padding: 10px 30px;
        border: 1px solid #DDDDDD;
        border-radius: 10px;
        margin-top: 30px;
        text-align: center;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        .icon {
            i,
            ion-icon {
                font-size: 63px;
                color: $primary;
                width: 85px;
                height: 85px;
                line-height: 80px;
                text-align: center;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
        h4 {
            color: #444;
            font-weight: 500;
            font-size: 18px;
            margin: 30px 0 -15px;
        }
        p {
            text-align: center;
            font-size: 16px;
            line-height: 22px;
            color: #777;
        }
    }
}

.section p {
    margin-top: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 200;
}

.section-description h5 {
    margin-top: 40px;
}

.section-subscribe {
    z-index: 999;
}

.section-no-padding {
    padding-bottom: 0;
    padding-top: 0px;
}

.section-light {
    background-color: #fefefe;
    .right-image {
        max-width: 400px;
        height: auto;
        margin: auto;
        margin-top: 80px;
    }
}

.section-features {
    width: 100%;
    min-height: 100vh;
    margin-top: 0px;
    .description {
        padding: 50px 0 0 0;
        margin: 0px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
    }
}

.advantages {
    font-size: 16px;
    li {
        color: $primary;
        font-size: 22px;
        span {
            font-size: 20px;
            font-weight: 300;
            color: #666;
        }
        margin-bottom: 14px;
    }
}

a.btn-primary,
button.btn-primary {
    @include linearGradient($primary,
    adjust-hue($primary,
    30));
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    opacity: 1;
    &:hover,
    &:focus,
    &:active,
    &.active {
        border: none;
        @include linearGradient($primary,
        adjust-hue($primary,
        30));
        color: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    }
}

.btn-section {
    padding: 10px;
    color: white;
    opacity: 1.0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-right: 1%;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
        border: 2px solid white;
        color: white;
        background-color: $primary;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    }
}

.btn-primary.btn-comming-soon {
    opacity: 0.5;
    cursor: auto;
    &:hover {
        transform: none;
    }
}

.btn-section {
    border: none;
    color: white;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        background-color: transparent;
    }
}

@media (max-width: 768px) {
    body .navbar-transparent .navbar-nav>li>a {
        color: #ff1e3c !important;
        &:hover {
            color: #ff1e3c;
        }
    }
    .section-motivation {
        .description p {
            text-align: center;
            .btn-section {
                width: 100%;
            }
        }
    }
    .logo-container .logo {
        margin-left: 20px;
    }
    .parallax {
        height: 100vh;
        .parallax-background img {
            width: 100%;
            height: 100%;
        }
        .buttons {
            margin: 20px 0;
        }
    }
    .logos {
        li {
            display: block;
            margin-top: 10px;
        }
        ul {
            padding-top: 20px;
        }
    }
    .carousel-indicators {
        bottom: -30px;
    }
    .carousel {
        min-height: 210px;
    }
    .footer {
        nav.pull-left,
        &:not(.footer-big) nav>ul li {
            float: none !important;
        }
    }
    .pull-right {
        float: none !important;
    }
}