<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta http-equiv="PRAGMA" content="NO-CACHE">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="description" content="Expertise em conteúdo de qualidade.">
<meta property="og:title" content="Review Academics">
<meta property="og:description" content="Expertise em conteúdo de qualidade.">
<meta property="og:url" content="www.reviewacademics.com">
<meta property="og:site_name" content="Review Academics">
<meta property="og:locale" content="pt_BR">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="180">
<meta property="og:image:height" content="180">
<link rel="canonical" href="www.reviewacademics.com">

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="coworking, colaborativo, Porto Alegre, Centro Histórico, microempresas, empreendedorismo">
<meta name="description" content="A Momentum é um espaço de coworking localizado no centro de Porto Alegre.">
<title>Momentum</title>
<link rel="shortcut icon" href="../../assets/img/fabricalogo.png">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<meta name="theme-color" content="darker_primary_color_placeholder">
<meta name="msapplication-navbutton-color" content="darker_primary_color_placeholder">
<meta name="apple-mobile-web-app-status-bar-style" content="darker_primary_color_placeholder">
<!--     Fonts and icons     -->
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Muli:300italic,400,300,800" rel="stylesheet" type="text/css" />

<script>
    function scrollToDiv(id) {
        var div = $("#" + id);
        $("html,body").animate({ scrollTop: div.offset().top }, 400);
    }
</script>