<nav class="navbar navbar-transparent navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-container">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="http://website_placeholder">
                <div class="logo-container">
                    <h5 class="navbar-logo hidden-md hidden-lg hidden-xl">
                        <label>Fábrica de Ideias</label>
                    </h5>
                </div>
            </a>
        </div>
        </div>
    </div>
</nav>